In [43]:
import pandas as pd 
import numpy as np

In [44]:
auto = pd.read_csv("Automobile_data.csv")
auto = auto.replace("?", "NaN")
print(auto.head(5))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

In [45]:
# Exercise 5: Count total cars per company
print(auto['company'].value_counts())

toyota           7
bmw              6
nissan           5
mazda            5
audi             4
mitsubishi       4
volkswagen       4
mercedes-benz    4
chevrolet        3
honda            3
porsche          3
isuzu            3
alfa-romero      3
jaguar           3
dodge            2
volvo            2
Name: company, dtype: int64

In [46]:
# Exercise 6: Find each companyâ€™s Highest price car
print(auto.groupby('company')['price'].max())

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [47]:
# Exercise 7: Find the average mileage of each car making company
print(auto.groupby('company')['average-mileage'].mean())

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

In [53]:
# Exercise 8: Sort all cars by Price column - Print 10 most expensive
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
print(auto.sort_values(by='price', ascending=False).head(10))

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
25     34         jaguar        sedan       113.0   199.6        dohc
45     61        porsche      hardtop        89.5   168.9        ohcf
24     33         jaguar        sedan       113.0   199.6        dohc
10     13            bmw        sedan       103.5   189.0         ohc

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
26           twelve         262               13  36000.0
25              six         176               15  35550.0
45              six         207               17  34028.0
24              six         176               15  32250.0
10              six         182               16  30760.0