In [1]:
import pandas as pd 
import numpy as np

In [11]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662, 'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193, 'New York': 19651127}, name='population')

# look at the intersection of indices between the series
print(area.index)
print(population.index)
print(area.index | population.index)
print(area.index & population.index)

#print(area)

# get the density - population / area.  Save to new series?
density = population /area
print(density.index)
print(density)

Index(['Alaska', 'Texas', 'California'], dtype='object')
Index(['California', 'Texas', 'New York'], dtype='object')
Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')
Index(['Texas', 'California'], dtype='object')
Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')
Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64
<ipython-input-11-dd49ec02a363>:7: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(area.index | population.index)
<ipython-input-11-dd49ec02a363>:8: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(area.index & population.index)

In [28]:
#import random as rng 
rng = np.random.RandomState(0)

A = pd.DataFrame(rng.randint(0, 20, (2, 2)), columns=list('AB'))
B = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns=list('BAC'))
print(A)
print(B)
print(A + B)
fill = A.stack().mean()
print(fill)
print(A.add(B, fill_value=fill))

    A   B
0  12  15
1   0   3
   B  A  C
0  3  7  9
1  3  5  2
2  4  7  6
      A     B   C
0  19.0  18.0 NaN
1   5.0   6.0 NaN
2   NaN   NaN NaN
7.5
      A     B     C
0  19.0  18.0  16.5
1   5.0   6.0   9.5
2  14.5  11.5  13.5

In [14]:
df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],
                                    index=['cat', 'dog'],
                                    columns=['weight', 'height'])
print(df_single_level_cols)

print(df_single_level_cols.stack())
print(df_single_level_cols['weight'].mean())
print(df_single_level_cols.stack().mean())

     weight  height
cat       0       1
dog       2       3
cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64
1.0
1.5

In [29]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [40]:
data = pd.Series([1, np.nan, 'hello', None])

print(data)

# isnull
#print(data.isnull())
#print(data[data.isnull()])
# notnull
#print(data.notnull())
#print(data[data.notnull()])
# dropna
print(data.dropna())
# fillna
print(data.fillna(0))
print(data.fillna(method = "ffill"))

0        1
1      NaN
2    hello
3     None
dtype: object
0        1
2    hello
dtype: object
0        1
1        0
2    hello
3        0
dtype: object
0        1
1        1
2    hello
3    hello
dtype: object

In [74]:
survey_results = pd.read_csv(
    "https://raw.githubusercontent.com/pattonsgirl/SU2021-CS2900/main/Class-Demos/silly-survey.csv",
    #usecols=['Favorite color of provided', 'Major', 'Favorite number (your choice)', 'Favorite number (from provided)'],
    #names=['color', 'major', 'num_choice', 'num_select']
    )
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
survey_results = survey_results.drop(columns='Timestamp')
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html
survey_results = survey_results.rename(columns={
    'Favorite color of provided': 'color', 
    'Major': 'major', 
    'Favorite number (your choice)': 'num_choice',
    'Favorite number (from provided)': 'num_select'})

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html
survey_results['major'] = survey_results['major'].replace('Other', 'EGR')
#survey_results = survey_results.replace('Other', 'EGR')

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html
survey_results['num_choice'] = pd.to_numeric(survey_results['num_choice'], errors='coerce')

print(survey_results['num_choice'].sum())

cleansed_survey = survey_results[survey_results['num_choice'].notnull()]

survey_results
cleansed_survey

360.0

     color major num_choice  num_select
0   Purple   CEG         42        42.0
1   Purple    CS          4         3.0
2     Blue    CS         13         3.0
6      Red   ITC         35        42.0
7     Blue    CS         66        42.0
10    Blue    CS         56         5.0
15     Red   EGR         64        42.0
16     Red   ITC         73        42.0
19    Blue    CS          7         5.0