In [2]:
import pandas as pd 
import numpy as np

In [7]:
# pandas exercises
# https://pynative.com/python-pandas-exercise/ - 1
auto = pd.read_csv("Automobile_data.csv")
print(auto.head(5))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

In [13]:
# https://pynative.com/python-pandas-exercise/ - 2
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html
auto = auto.replace("?", "NaN")
print(auto.head(5))
print(auto.dtypes)

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [15]:
# https://pynative.com/python-pandas-exercise/ - 3
max_price = auto['price'].max()
#print(auto.loc[auto['price'].max()])
print(auto.loc[auto['price'] == max_price, ['company', 'price']])

          company    price
35  mercedes-benz  45400.0

In [16]:
# https://pynative.com/python-pandas-exercise/ - 4
print(auto[auto['company'] == 'toyota'])

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [51]:
# concat and append

ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

# not enough info: {'A': 1, 'B': 2} - passing wrong type of data (scalar) instead of list
# https://codesource.io/solved-valueerror-if-using-all-scalar-values-you-must-pass-an-index/
dict1 = {'A': ['A1', 'A2'], 'B': ['B1', 'B2']}
df3 = pd.DataFrame.from_dict(dict1)
print(df3)

df1 = pd.DataFrame({'A': 1, 'B': 2}, index=[0,1])
#df1 = pd.DataFrame({'A': [1], 'B': [2]})#, index=[0,1])
df2 = pd.DataFrame({'A': 3, 'B': 4}, index=[0,1])
print(df1)
print(df2)
# concatentate on row (stack)
print(pd.concat([df1, df2]))
# concatenate on column (widen)
print(pd.concat([df1, df2], axis=1))
# append (same behavior as concatenate)
print(df1.append(df2))

    A   B
0  A1  B1
1  A2  B2
   A  B
0  1  2
1  1  2
   A  B
0  3  4
1  3  4
   A  B
0  1  2
1  1  2
0  3  4
1  3  4
   A  B  A  B
0  1  2  3  4
1  1  2  3  4
   A  B
0  1  2
1  1  2
0  3  4
1  3  4

In [28]:
# join and merge
# given one to one relationship (employee is in both)
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

print(df1)
print(df2)

print(df1.merge(df2))
df3 = df1.merge(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [30]:
# join and merge
# many to one relationship (group is in both, one supervisor per group, multiple employees in a group)
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
print(df4)
print(df3.merge(df4))
df5 = df3.merge(df4)

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

In [33]:
# join and merge
# many to many relationship (group is in both, multiple employees and in a group and multiple skills are used by a group)
df6 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
print(df6)
print(df5.merge(df6))

         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization
  employee        group  hire_date supervisor        skills
0      Bob   Accounting       2008      Carly          math
1      Bob   Accounting       2008      Carly  spreadsheets
2     Jake  Engineering       2012      Guido        coding
3     Jake  Engineering       2012      Guido         linux
4     Lisa  Engineering       2004      Guido        coding
5     Lisa  Engineering       2004      Guido         linux
6      Sue           HR       2014      Steve  spreadsheets
7      Sue           HR       2014      Steve  organization

In [42]:
# Ex 9
# https://pynative.com/python-pandas-exercise/ - 9 
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

germany = pd.DataFrame.from_dict(GermanCars)
japan = pd.DataFrame.from_dict(japaneseCars)
print(germany)
print(japan)
# https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html
# pd.concat([x, y], keys=['x', 'y'])
both = pd.concat([germany, japan], keys=["Germany", "Japan"])
print(both)

    Company   Price
0      Ford   23845
1  Mercedes  171995
2       BMV  135925
3      Audi   71400
       Company  Price
0       Toyota  29995
1        Honda  23600
2       Nissan  61500
3  Mitsubishi   58900
               Company   Price
Germany 0         Ford   23845
        1     Mercedes  171995
        2          BMV  135925
        3         Audi   71400
Japan   0       Toyota   29995
        1        Honda   23600
        2       Nissan   61500
        3  Mitsubishi    58900

In [40]:
# Ex 10
# https://pynative.com/python-pandas-exercise/ - 10
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

cprice = pd.DataFrame.from_dict(Car_Price)
chorepower = pd.DataFrame.from_dict(car_Horsepower)

cmerged = cprice.merge(chorepower)
print(cmerged)

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160